# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
aries_venv/
server_venv/
lapworld/
webguild/

# Django staticfiles (collected output)

aries/media/clan_logos/
aries/media/clan_profile/
aries/media/match_data/
aries/media/tournament_data/
aries/staticfiles/
aries/error_logs/
# Local settings, envs
.env.testing
.env.production
# SQLite and other local DBs
aries/db.sqlite3
.txt
the.txt
