# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
aries_venv/
server/
webguild/

# Django staticfiles (collected output)

aries/media/clan_logos/
aries/media/clan_profile/
aries/media/match_data/
aries/media/tournament_data/
aries/staticfiles/
aries/error_logs/
# Local settings, envs
.env.testing
.env.production
# SQLite and other local DBs
aries/db.sqlite3
.txt
the.txt
# Python bytecode
__pycache__/
*.py[cod]
*$py.class

node_modules/
# Virtual environments
aries_venv/
server_venv/
lapworld/
webguild/
# Runtime generated stuff inside aries/
aries/aries/staticfiles/
aries/media/
aries/error_logs/
media/
# Local settings, envs
.env

# SQLite and other local DBs
*.sqlite3
*.log

# Packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# VSCode and IDE stuff (optional)
.vscode/
.idea/

