{% extends "base.html" %}
{% load static %}
{% block title %} Gamers {% endblock title %}
{% block content %}
<div class="container">
    <div class="row align-items-center"> 
    <h2 class="text-center">All Players</h2>
    <form method="GET" action="{% url 'gamers' %}" class="mb-4 d-flex justify-content-center">
        <input type="text" name="q" class="form-control w-50" placeholder="Search for a player..." value="{{ query }}">
        <button type="submit" class="btn btn-primary mx-2">Search</button>
    </form>
</div>
{% if no_results %}
        <div class="alert alert-warning text-center" role="alert">
          No players found for "{{ query }}". Please try a different search term.
        </div>
      {% endif %}
</div>
<div class="row">
    {% for player_data in players %}
    <div class="col-md-4">
        <!-- Player Card -->
        <a href="{% url 'player_details' player_data.player.id %}">
        <div class="card my-3">
            <div class="card-body text-center" style="background-image: url('{{ player_data.player.profile.clan.clan_profile_pic.url }}');background-size: cover; background-position: center;text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);color:white">
                <!-- Avatar -->
                {% if player_data.player.profile.profile_picture %}
                <img src="{{ player_data.player.profile.profile_picture.url }}" alt="{{ player_data.player.username }}'s avatar" class="img-fluid rounded-circle mb-3" style="width: 100px; height: 100px;" loading="lazy">
                {% endif %}

                <!-- Player Name -->
                <h5 class="card-title">{{ player_data.player.username }}</h5>
                <p>{{ player_data.player.profile.clan.clan_name }} </p>

                {% if player_data.match_results %}
                    <p>
                        {% for result in player_data.match_results %}
                            <span class="badge {% if result == 'W' %}bg-success{% elif result == 'L' %}bg-danger{% else %}bg-warning{% endif %}">
                                {% if result == 'W' %}
                                    W
                                {% elif result == 'L' %}
                                    L
                                {% else %}
                                    D
                                {% endif %}
                            </span>
                        {% endfor %}
                    </p>
                {% endif %}
                
                <p class="card-text">
                    <div class="d-flex justify-content-between text-center ">
                        <div class="mx-2">
                            <p class="mb-1 h6 text-primary">{{ player_data.player.profile.stats.win_rate }}%</p>
                            <p class="small  mb-0">Win Rate</p>
                        </div>
                        <div class="mx-2">
                            <p class="mb-1 h6 text-success">{{ player_data.player.profile.stats.games_played }}</p>
                            <p class="small  mb-0">Matches</p>
                        </div>
                        <div class="mx-2">
                            <p class="mb-1 h6 text-warning">{{ player_data.player.profile.stats.rank }}</p>
                            <p class="small  mb-0">Rank</p>
                        </div>
                    </div>
                </p>
            </div>
        </div>
        </a>
    </div>
    {% endfor %}
</div>

</div>

{% endblock content %}

