{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid">
    <form method="POST"  class="form">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="mb-3 center">Login</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group ">
            <button class="btn btn-primary button1" type="submit">Login</button>
        </div>
        <div class="text-center pt-3">
            <small class="text-muted ">
                Need An account <a class="ml-2" href="{% url "register" %}">Sign Up</a>
            </small>
        </div>
    </form>
</div>
{% endblock content %}