{% extends "base.html" %}
{% load static %}
{% block title %}{{ user.username }} {% endblock title %}
{% load crispy_forms_tags %}
{% load follow_tags %}
{% block content %}
<STYle>
  body{
    background-color: #fff !important;
  }
</STYle>
  <!-- Section for small screens (up to md) -->
<section id="section-sm" class="d-md-none " >
  <!--Name and follow stats-->
    <div class="rounded-top text-white d-flex flex-column text-center text-md-start" 
          style="background-image: url('{{ player.profile.clan.clan_profile_pic.url }}');     background-size: cover; background-position: center; height: 220px;">

      <!-- user logo Logo -->
      <div class="mt-5 mx-auto mx-md-4 position-relative" style="width: 150px;">
        <img src="{{ player.profile.profile_picture.url }}" 
            alt="{{ player.profile.username }}"  
            class="img-fluid img-thumbnail border-3 border-white shadow-lg rounded-circle" 
            style="width: 150px; height: 160px; object-fit: cover;" 
            loading="lazy">
      </div>
    </div>
    <div class="d-flex justify-content-evenly justify-content-md-between align-items-center py-2 px-3 text-body bg-light rounded shadow-sm" style="width: 100%;">
      <div class="text-center text-md-start">
          <h4 class="mb-1 text-dark fw-bold">
          {{ player.username }}
          </h4>
        <p class="small text-muted">Ranking: <strong>{{ player.profile.stats.rank }}</strong></p>
        {% if player.profile.clan.clan_name %}
          <p>{{ player.profile.clan.clan_name }}({{player.profile.clan.clan_tag}}){% if  player.profile.role  %}[{{ player.profile.role}}]{% endif %}</p>
        {% else %}
          <p>Clanless</p>
        {% endif %}
        {% if match_results %}
          <p>
            {% for result in match_results %}
                <span class="badge {% if result == 'W' %}bg-success{% elif result == 'L' %}bg-danger{% else %}bg-warning{% endif %} ">
                    {% if result == 'W' %}
                        W
                    {% elif result == 'L' %}
                        L
                    {% else %}
                        D
                    {% endif %}
                </span>
            {% endfor %}
        </p>
        {% endif %}
        <div >
            {% render_follow_summary player followers following %}
            {% comment %} Check the template tags folder it renders them so i can use accross view {% endcomment %}
          </div>
            
          </div>
        </div> 
      </div>
    </div>
</section>
  
<section id="section-md"class="d-none d-md-block">
  <!--Name and follow stats-->
    <div class="rounded-top text-white d-flex flex-column text-center text-md-start" 
          style="background-image: url('{{ player.profile.clan.clan_profile_pic.url }}');     background-size: cover; background-position: center; height: 220px;">

      <!-- user logo Logo -->
      <div class="mt-5 mx-auto mx-md-4 position-relative" style="width: 150px;">
        <img src="{{ player.profile.profile_picture.url }}" 
            alt="{{ player.profile.username }}"  
            class="img-fluid img-thumbnail border-3 border-white shadow-lg rounded-circle" 
            style="width: 150px; height: 160px; object-fit: cover;" 
            loading="lazy">
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center py-3 px-4 bg-light rounded shadow-sm">
      <div>
        <h4 class="mb-1 text-dark fw-bold">
          {{ player.username }}
          </h4>
        
        {% if player.profile.clan.clan_name %}
          <p>{{ player.profile.clan.clan_name }}({{player.profile.clan.clan_tag}}){% if  player.profile.role  %}[{{ player.profile.role}}]{% endif %}</p>
        {% else %}
          <p>Clanless</p>
        {% endif %}
        {% if match_results %}
          <p>
            {% for result in match_results %}
                <span class="badge {% if result == 'W' %}bg-success{% elif result == 'L' %}bg-danger{% else %}bg-warning{% endif %} ">
                    {% if result == 'W' %}
                        W
                    {% elif result == 'L' %}
                        L
                    {% else %}
                        D
                    {% endif %}
                </span>
            {% endfor %}
        </p>
        {% endif %}
      </div>
        <!-- Followers & Following -->
      <div>
        {% render_follow_summary player followers following %}
        {% comment %} Check the template tags folder it renders them so i can use accross view {% endcomment %}
      </div>
    </div>

</section>


<div class="card-body p-4 text-black">
  <div class="mb-5  text-body">
    <div class="row">
      <div class="container mt-4">
        <h4 class="text-center">Statistics</h4>
        <table class="table text-center table-striped table-hover">
          <thead class="table-dark">
              <tr>
                  <th>Stat</th>
                  <th>Value</th>
              </tr>
          </thead>
          <tbody> 
              <tr>
                  <td>Total Wins</td>
                  <td>{{ player.profile.stats.total_wins }}</td>
              </tr>
              <tr>
                  <td>Total Draws</td>
                  <td>{{ player.profile.stats.total_draws }}</td>
              </tr>
              <tr>
                  <td>Total Losses</td>
                  <td>{{ player.profile.stats.total_losses }}</td>
              </tr>
              <tr>
                  <td>Scored Goals</td>
                  <td>{{ player.profile.stats.gf }}</td>
              </tr>
              <tr>
                  <td>Conceeded</td>
                  <td>{{ player.profile.stats.ga }}</td>
              </tr>
              <tr>
                <td>Win Rate</td>
                <td>{{ player.profile.stats.win_rate|floatformat:1}}%</td>
            </tr>
            <tr>
              <td>Total Matches</td>
              <td>{{ player.profile.stats.total_matches }}</td>
            </tr>
            <tr>
              <td>Total Wins</td>
              <td>{{ player.profile.stats.total_wins }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<section>
  {% if match_data %}
  <div class="card-body p-4 text-black">
    <div class="mb-5  text-body">
      <div class="row">
        <div class="container mt-4">
          <h4 class="text-center">Match History</h4>
          <form method="GET" action="{% url 'player_details' player.id %}" class="mb-4 d-flex justify-content-center">
            <input type="text" name="q" class="form-control w-50" placeholder="Search for a match..." value="{{ query }}">
            <button type="submit" class="btn btn-primary mx-2">Search</button>
          </form>
  
          <!-- No Results Message -->
          {% if no_results %}
          <div class="alert alert-warning text-center" role="alert">
            No matches found for "{{ query }}". Please try a different search term.
          </div>
          {% endif %}
          <table class="table table-striped table-hover">
              <thead class="table-dark">
                  <tr>
                      <th>Date</th>
                      <th>Tournament</th>
                      <th>Opponent</th>
                      <th>Result</th>
                      <th>Score</th>
                  </tr>
              </thead>
              <tbody>
                  {% for match in match_data.matches %}
                  <tr>
                      <td>{{ match.date }}</td>
                      <td>{{match.tour_name}}</td>
                      <td>{{ match.opponent }}</td>
                      <td class="{% if match.result == 'win' %}text-success{% elif match.result == 'loss' %}text-danger{% else %}text-warning{% endif %}">
                          {{ match.result }}
                      </td>
                      <td>{{ match.score }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div> 
      </div>
    </div>

  </div>
  {% endif %}
</section>

{% endblock content %}