{% extends "base.html" %}
{% load static %}
{% block title %}{{ user.username }} {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<STYle>
  body{
    background-color: #fff !important;
  }
</STYle>

<section>
  <div class="rounded-top text-white d-flex flex-row" style="background-image: url('{{ player.profile.clan.clan_profile_pic.url }}'); background-size: cover; background-position: center; height: 220px;">
    <div class="ms-2 mt-5 d-flex flex-column" style="width: 150px;">
      <img src="{{ player.profile.profile_picture.url }}" 
           alt="Inphinithy"  class="img-fluid img-thumbnail mt-2 mb-2" style="150px;height: 160px;z-index: 1">
    </div>
  </div>
  <div class="d-flex justify-content-between align-items-center py-2 px-3 text-body bg-light rounded shadow-sm" style="width: 100%;">
    <div class="text-left">
      <h5>{{ player.username }}</h5>
      {% if player.profile.clan.clan_name %}
        <p>{{ player.profile.clan.clan_name }}({{player.profile.clan.clan_tag}}){% if  player.profile.role  %}[{{ player.profile.role}}]{% endif %}</p>
      {% else %}
        <p>Clanless</p>
      {% endif %}
      {% if match_results %}
      <p>
        {% for result in match_results %}
            <span class="badge {% if result == 'W' %}bg-success{% elif result == 'L' %}bg-danger{% else %}bg-warning{% endif %} ">
                {% if result == 'W' %}
                    W
                {% elif result == 'L' %}
                    L
                {% else %}
                    D
                {% endif %}
            </span>
        {% endfor %}
    </p>
    {% endif %}
    </div>
      
      
    <div class="d-flex text-center ">
      <div class="mx-2">
        <p class="mb-1 h6 text-primary">{{ player.profile.stats.win_rate }}%</p>
        <p class="small text-muted mb-0">Win Rate</p>
      </div>
      <div class="mx-2">
        <p class="mb-1 h6 text-success">{{ player.profile.stats.games_played }}</p>
        <p class="small text-muted mb-0">Matches</p>
      </div>
      <div class="mx-2">
        <p class="mb-1 h6 text-warning">{{ player.profile.stats.rank }}</p>
        <p class="small text-muted mb-0">Rank</p>
      </div>
    </div>
  </div>
  {% if match_data %}
  <div class="card-body p-4 text-black">
    <div class="mb-5  text-body">
      <div class="row">
        <div class="container mt-4">
          <h4 class="text-center">Match History</h4>
          <table class="table table-striped table-hover">
              <thead class="table-dark">
                  <tr>
                      <th>Date</th>
                      <th>Tournament</th>
                      <th>Opponent</th>
                      <th>Result</th>
                      <th>Score</th>
                  </tr>
              </thead>
              <tbody>
                  {% for match in match_data.matches %}
                  <tr>
                      <td>{{ match.date }}</td>
                      <td>{{match.tour_name}}</td>
                      <td>{{ match.opponent }}</td>
                      <td class="{% if match.result == 'win' %}text-success{% elif match.result == 'loss' %}text-danger{% else %}text-warning{% endif %}">
                          {{ match.result }}
                      </td>
                      <td>{{ match.score }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
      
      </div>
    </div>

  </div>
  {% endif %}
  
  <div class="card-body p-4 text-black">
    <div class="mb-5  text-body">
      <div class="row">
        <div class="container mt-4">
          <h4 class="text-center">Statistics</h4>
          <table class="table text-center table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Stat</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                
                <tr>
                    <td>Total Wins</td>
                    <td>{{ player.profile.stats.total_wins }}</td>
                </tr>
                <tr>
                    <td>Total Draws</td>
                    <td>{{ player.profile.stats.total_draws }}</td>
                </tr>
                <tr>
                    <td>Total Losses</td>
                    <td>{{ player.profile.stats.total_losses }}</td>
                </tr>
                <tr>
                    <td>Scored Goals</td>
                    <td>{{ player.profile.stats.gf }}</td>
                </tr>
                <tr>
                    <td>Conceeded</td>
                    <td>{{ player.profile.stats.ga }}</td>
                </tr>
            </tbody>
        </table>
      </div>
      
      </div>
    </div>

  </div>

</div>
  
</section>

{% endblock content %}