{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}
<div style="position: relative; width: 100%; height: 33vh;">
    <img src="{% static 'images/areis-2.jpg' %}" alt="hero img" style="width: 100%; height: 100%; object-fit: cover; filter: blur(5px);" loading="lazy">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #C6AC8F; font-size: 40px; font-weight: bolder; text-align: center;">
        <p>A Gamer bringing his dreams into reality</p>
    </div>
</div>

<div class="container-fluid bg-light p-4">
    <div class="row">
        <div class="col">
            <h2>Join us in building a community where gaming dreams become a reality—because together, we’re not just playing the game; we're shaping the future of esports.</h2>
        </div>
        <div class="col">
            <p style="font-size:20px">The goal is to bridge the gap between passion and professionalism in the world of gaming. By offering a seamless, user-friendly platform, we aim to revolutionize clan-based tournaments, making it easier for players, organizers, and teams to connect, compete, and succeed.</p>
        </div>
    </div>
</div>

<div class="container my-4" style="text-align:center">
    <h1>Behind Areis</h1>
    <div class="row">
        <div class="mt-4 col">
            <div class="card profile-card-5">
               <div class="card-img-block">
                  <img class="card-img-top" src="{% static 'images/austindwomoh.jpg' %}" alt="Austin Dwomoh" loading="lazy">
               </div>
               <div class="card-body pt-0">
                  <h5 class="card-title">Austin Nana Dwomoh</h5>
                  <p class="card-text">If you can think it you can make it</p>
                  <div class="icon-block">
                    <a href="https://austindwomoh.xyz/" role="button"><i class="bi bi-google"></i></a>
                    <a href="https://www.instagram.com/inphinithy1/" role="button"><i class="bi bi-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/austin-dwomoh/" role="button"><i class="bi bi-linkedin"></i></a>
                    <a href="https://github.com/INPHINITHY" role="button"><i class="bi bi-github"></i></a>
                    <a href="https://austindwomoh.xyz/" role="button"><i class="bi bi-google"></i></a>
                   </div>
               </div>
            </div>
        </div> 
    </div>
</div>

<div class=" px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">The Fun Begins with you</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Create an account and take the gaming world by storm with your clan orbe the oen man army</p>
    </div>
    <a href="{% url "register" %}" class="btn btn-success">Create Account</a>
</div>
{% endblock content %}