{% load static %}
{% if show_button %}
  {% if is_blocked %}
    <button disabled class="btn btn-danger">Blocked</button>
  {% elif is_pending %}
    <button disabled class="btn btn-warning">Pending...</button>
  {% else %}
    <button id="follow-btn" class="btn btn-primary follow-btn"data-id="{{ profile_id }}"
            data-model="{{ model_name }}" >
       {% if is_following %}
    Unfollow
  {% else %}
    Follow
  {% endif %}
    </button>
  {% endif %}
  <p id="follow-message" style="display:none;"></p>
{% endif %}


