{% extends "base.html" %}
{% load static %}
{% block title %}Welcome{% endblock title %}
{% block content %}

  <div class=" px-4 py-4 my-4  text-center">
    <img class="d-block mx-auto mb-4" src="/static/images/areis-1.png" alt="" width="76" height="60" loading="lazy">
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome To Aries</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Clan gamaing just got better. Join and play both individual tournaments and clan tournaments. Your acheivements will all be recorded</p>
      <div class="d-grid gap-2 d-md-flex justify-content-sm-between" >
      
        <a class="btn btn-primary "href="{% url 'register' %}">Sign Up</a>
        <a class="btn btn-success" href="{% url 'tournament-home'%}">Create Tournament</a>
        <a class="btn btn-primary" href="{% url 'clubs-home' %}">Join A Club</a>
      
    </div>
    </div>
  </div>
<style>
  .podium { display: flex; gap: 10px; }
  .position { text-align: center; padding: 10px; font-weight: bold; }
  .first { height: 120px; background: gold; }
  .second { height: 100px; background: silver; }
  .third { height: 80px; background: #cd7f32; }
  tbody tr:nth-child(1) { color: gold; font-weight: bold; }
  tbody tr:nth-child(2) { background-color: silver; font-weight: bold; }
  tbody tr:nth-child(3) { background-color: #cd7f32; font-weight: bold; }
  @media screen and (max-width: 768px) {
    .hide {
        display: none;
    }
    .team-info span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    min-width: 0;
  }
  .team-info {
    display: flex;
    align-items: center;
    max-width: 100px; /* Adjust as needed */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  }
    table {
        width: 100%;
        background: #fff;
        border: 1px solid #dedede;
    }
    
    table thead tr th {
        padding: 20px;
        border: 1px solid #dedede;
        color: #000;
    }
    
    table.table-striped tbody tr:nth-of-type(odd) {
        background: #f9f9f9;
    }
    
    table.result-point tr td.number {
        width: 100px;
        position: relative;
    } 
    
    .text-left {
        text-align: left!important;
    }
    
    table tr td {
        padding: 10px 20px;
        border: 1px solid #dedede;
    }
    table.result-point tr td .fa.fa-caret-up {
        color: green;
    }
    
    table.result-point tr td .fa {
        font-size: 20px;
        position: absolute;
        right: 20px;
    }
    
    table tr td {
        padding: 10px 40px;
        border: 1px solid #dedede;
    }
    
    
    .team-info {
    display: flex;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .team-info img {
    width: 25px; /* Keep the image small */
    height: 25px;
    margin-right: 8px; /* Space between logo and text */
    object-fit: contain; /* Ensures it fits well */
  }

</style>
  <div class=" container-fluid text-secondary pt-1 text-center">
      <h1 class="display-5 fw-bold text-dark">Rankings</h1>
      <div class="row">
        <!-- <div class="podium d-flex justify-content-center align-items-end">
          <div class="position second">🥈 {{ players.1.username }}</div>
          <div class="position first">🥇 {{ players.0.username }}</div>
          <div class="position third">🥉 {{ players.2.username }}</div>
      </div> -->
      
        <div class="col-lg-6 mx-auto">
          <table class="table table-striped table-hover ">
            <thead class="table-dark">
                <tr>
                    <th class="text-start">Player</th>
                    <th class="text-center hide">MP</th>
                    <th class="text-center">W</th>
                    <th class="text-center hide">D</th>
                    <th class="text-center hide">L</th>
                    <th class="text-center">GS</th>
                    <th class="text-center">Win Rate</th>
                    <th class="text-center">Rank</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for player in players %}
                <tr> 
                    <td class="text-start d-flex">
                       <span class="fw-bold me-3">{{ forloop.counter }}</span> 
                        <div class="team-info">
                        {% if player.profile.profile_picture %}
                            <img src="{{ player.profile.profile_picture.url }}" alt="{{ player.username }}" class="img-fluid" style="max-width: 30px;max-height: 30px;" loading="lazy">
                        {% else %}
                            <span>No Logo</span>
                        {% endif %}
                        <span>{{ player.username }}</span>
                        </div>
                    </td>
                    <td class="hide">{{ player.profile.stats.games_played }}</td>
                    <td>{{ player.profile.stats.total_wins }}</td>
                    <td class="hide">{{ player.profile.stats.total_draws }}</td>
                    <td class="hide">{{ player.profile.stats.total_losses }}</td>
                    <td>{{ player.profile.stats.gf }}</td>
                    <td>{{ player.profile.stats.win_rate }}%</td>
                    <td>{{ player.profile.stats.rank }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
        </div>
        <div class="col-lg-6 mx-auto">
          <table class="table table-striped table-hover ">
            <thead class="table-dark">
                <tr>
                    <th class="text-start">Clan</th>
                    <th class="text-center hide">MP</th>
                    <th class="text-center">W</th>
                    <th class="text-center hide">D</th>
                    <th class="text-center hide">L</th>
                    <th class="text-center">GS</th>
                    <th class="text-center">Win Rate</th>
                    <th class="text-center">Rank</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for clan in clans %}
                <tr> 
                    <td class="text-start d-flex">
                       <span class="fw-bold me-3">{{ forloop.counter }}</span> 
                        <div class="team-info">
                        {% if clan.clan_logo %}
                            <img src="{{ clan.clan_logo.url }}" alt="{{ clan.clan_name }}" class="img-fluid" style="max-width: 30px;max-height: 30px;" loading="lazy">
                        {% else %}
                            <span>No Logo</span>
                        {% endif %}
                        <span>{{ clan.clan_name }}</span>
                        </div>
                    </td>
                    <td class="hide">{{ clan.stat.total_matches }}</td>
                    <td>{{ clan.stat.wins }}</td>
                    <td class="hide">{{ clan.stat.draws }}</td>
                    <td class="hide">{{ clan.stat.losses }}</td>
                    <td>{{ clan.stat.gf }}</td>
                    <td>{{ clan.stat.win_rate}} %</td>
                    <td>{{ clan.stat.ranking }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
      </div>
  
  </div>


<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="bootstrap-themes.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold lh-1 mb-3">Features</h1>
      <p class="lead">We have tournaments, club pages, user pages and we keep track of all your games for you</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="{% url 'gamers'%}" class="btn btn-primary">Users</a>
        <a href="{% url 'clubs-home'%}" class="btn btn-primary">Clubs</a>
      </div>
    </div>
  </div>
</div>


<!-- Social section - To be decided later -->

  
{% endblock content %}