
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <!-- Dropdown for Navigation -->
        <div class="dropdown ">
            <!-- Current Selection -->
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">-------</button>
            <ul class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
                {% for rounds in match_data.matches.rounds %}
                <li>
                    <a class="dropdown-item {% if forloop.first %}active{% endif %}" 
                       href="#section{{ forloop.counter }}" 
                       data-target="#section{{ forloop.counter }}" 
                       aria-controls="section{{ forloop.counter }}">
                       Round {{ forloop.counter }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>

{% for round in match_data.matches.rounds %}
<div id="section{{ forloop.counter }}" class="content-section active-content">
    {% for match in round.matches %}
    <div class="card-body  mx-auto">
        <div class="text-body">
            <div class="container mt-2">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="card shadow-sm">
                            <div class="card-body">
                            <a href="{% if tour_kind == 'cvc' %}{% url 'update_clan_tournament' tour.id %}{% else %}{% url 'update_indi_tournament' tour.id %}{% endif %}?team_a={{ match.team_a }}&team_b={{ match.team_b }}&round={{ round.round_number }}">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="text-center">
                                        <img src="{{  match.team_a_logo.url }}" 
                                                alt="{{ match.team_a }}"  
                                                class="img-fluid img-thumbnail mt-2 mb-1" 
                                                style="width: 100px; z-index: 1">
                                        <p class="mb-2">{{ match.team_a }}</p>
                                    </div>
                                    <div class="text-center fs-1 fw-bold mx-4 d-flex flex-column align-items-center">
                                        {% if match.team_a_goals is not None and match.team_b_goals is not None %}
                                        <span class="badge bg-success px-3 py-2">
                                            
                                            <span>{{ match.team_a_goals }}</span>
                                            <span class="vs-text mb-0 "> - </span> 
                                            <span>{{ match.team_b_goals }}</span>
                                        </span>
                                        
                                        {% else %}
                                        <span class="badge bg-danger px-3 py-2">
                                            <span></span>
                                            <span class="vs-text mb-0 "> - </span> 
                                            <span></span>
                                        </span>
                                        {% endif %}
                                    </div>
                                    <!-- Team B -->
                                    <div class="text-center mx-4">
                                        <img src="{{ match.team_b_logo.url }}" 
                                        alt="{{ match.team_b }}"  
                                        class="img-fluid img-thumbnail mt-2 mb-1" 
                                        style="width: 100px; z-index: 1">
                                        <p class="mb-2">{{ match.team_b }}</p>
                                    </div>
                                </div>
                            </a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}
