<style>
    .content-info {
        background: #f9f9f9;
        padding: 40px 0;
        background-size: cover!important;
        background-position: top center!important;
        background-repeat: no-repeat!important;
        position: relative;
       padding-bottom:100px;
    }
    @media screen and (max-width: 768px) {
    .hide {
        display: none;
    }
    .team-info span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    min-width: 0;
    }
    .team-info {
        display: flex;
        align-items: center;
        max-width: 100px; /* Adjust as needed */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    }
        table {
            width: 100%;
            background: #fff;
            border: 1px solid #dedede;
        }
        
        table thead tr th {
            padding: 20px;
            border: 1px solid #dedede;
            color: #000;
        }
        
        table.table-striped tbody tr:nth-of-type(odd) {
            background: #f9f9f9;
        }
        
        table.result-point tr td.number {
            width: 100px;
            position: relative;
        } 
        
        .text-left {
            text-align: left!important;
        }
        
        table tr td {
            padding: 10px 20px;
            border: 1px solid #dedede;
        }
        table.result-point tr td .fa.fa-caret-up {
            color: green;
        }
        
        table.result-point tr td .fa {
            font-size: 20px;
            position: absolute;
            right: 20px;
        }
        
        table tr td {
            padding: 10px 40px;
            border: 1px solid #dedede;
        }
        
        
        .team-info {
        display: flex;
        align-items: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .team-info img {
        width: 25px; /* Keep the image small */
        height: 25px;
        margin-right: 8px; /* Space between logo and text */
        object-fit: contain; /* Ensures it fits well */
    }


    
    
</style>

<div class="overflow-auto">
    <ul class="nav nav-tabs flex-nowrap" id="statsTab" role="tablist" style="white-space: nowrap;">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="user-tab" data-bs-toggle="tab" data-bs-target="#section-1" type="button" role="tab" aria-controls="section-1" aria-selected="true">Stats</button>
    </li>
    {% if tour_kind == "cvc" %}
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="clan-player-tab" data-bs-toggle="tab" data-bs-target="#section-2" type="button" role="tab" aria-controls="section-2" aria-selected="false">Player Stats</button>
    </li>
    {% endif %}
    {% for round, matches in match_data.fixtures.items %}
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="round-{{ forloop.counter }}-tab" data-bs-toggle="tab" data-bs-target="#section{{ forloop.counter }}" type="button" role="tab" aria-controls="section{{ forloop.counter }}" aria-selected="false">
        Round {{ forloop.counter }}
        </button>
    </li>
    {% endfor %}
    </ul>
</div>
<div class="tab-content">
    <div id="section-1" class="tab-pane fade show active" role="tabpanel" aria-labelledby="user-tab">
        <section class="content-info">
            <div class="container py-3">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped table-hover ">
                            <thead class="table-dark">
                                <tr>
                                    <th class="text-start">TEAMS</th>
                                    <th class="text-center">MP</th>
                                    <th class="text-center">W</th>
                                    <th class="text-center">D</th>
                                    <th class="text-center">L</th>
                                    <th class="text-center hide">GS</th>
                                    <th class="text-center hide">GA</th>
                                    <th class="text-center">GD</th>
                                    <th class="text-center">P</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                {% for team_name, team_stats in match_data.table.items %}
                                <tr> 
                                    <td class="text-start d-flex">
                                    <span class="fw-bold me-3">{{ forloop.counter }}</span> 
                                        <div class="team-info">
                                        {% if team_stats.team_logo %}
                                            <img src="{{ team_stats.team_logo.url }}" alt="{{ team_name }}" class="img-fluid" style="max-width: 30px;max-height: 30px;" loading="lazy">
                                        {% else %}
                                            <span>No Logo</span>
                                        {% endif %}
                                        <span>{{ team_name }}</span>
                                        </div>
                                    </td>
                                    <td>{{ team_stats.matches_played }}</td>
                                    <td>{{ team_stats.wins }}</td>
                                    <td >{{ team_stats.draws }}</td>
                                    <td>{{ team_stats.losses }}</td>
                                    <td class="hide">{{ team_stats.goals_scored }}</td>
                                    <td class="hide">{{ team_stats.goals_conceded }}</td>
                                    <td>{{ team_stats.goal_difference }}</td>
                                    <td>{{ team_stats.points }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <a href="#section-1" class="btn btn-primary" data-target="#section-1" 
                        aria-controls="section-1" onclick="captureSection('#section-1')">Save</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% if tour_kind == "cvc" %}
    <div id="section-2" class="tab-pane fade" role="tabpanel" aria-labelledby="clan-player-tab">
        <section class="content-info">
            <div class="container py-3">
                <div class="row">
                    <div class="col-12">
                        <table class="table table-striped table-hover result-point">
                            <thead class="table-dark">
                                <tr>
                                    <th class="text-start">Player</th>
                                    <th class="text-start">Clan</th>
                                    <th class="text-center">P</th>
                                    <th class="text-center">W</th>
                                    <th class="text-center">D</th>
                                    <th class="text-center">L</th>
                                    <th class="text-center">GS</th>
                                    <th class="text-center">GA</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                {% for team_name, team_stats in match_data.player_stats.items %}
                                <tr>
                                    <td class="text-start">
                                        <span>{{ team_name }}</span>
                                    </td>
                                    <td>{{ team_stats.clan }}</td>
                                    <td>{{ team_stats.matches_played }}</td>
                                    <td>{{ team_stats.win }}</td>
                                    <td>{{ team_stats.draw }}</td>
                                    <td>{{ team_stats.loss }}</td>
                                    <td>{{ team_stats.goals_scored }}</td>
                                    <td>{{ team_stats.goals_conceded }}</td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <a href="#section-2" class="btn btn-primary" data-target="#section-2" 
                        aria-controls="section-2" onclick="captureSection('#section-2')">Save</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endif %}
    {% for round, matches in match_data.fixtures.items %}
    <div id="section{{ forloop.counter }}" class="tab-pane fade" role="tabpanel" aria-labelledby="round-{{ forloop.counter }}-tab">
    <div class="container mt-2">
        <div class="row justify-content-center">
        {% for match in matches %}
        <div class="col-md-6 mb-4"> <!-- Each card gets a column -->
            <div class="card shadow-sm">
            <div class="card-body">
                {% if user.username == tour.created_by.username %}
                <a href="{% if tour_kind == 'cvc' %}{% url 'update_clan_tournament' tour.id %}{% else %}{% url 'update_indi_tournament' tour.id %}{% endif %}?team_a={{ match.team_a_display_name }}&team_b={{ match.team_b_display_name }}&round={{ round|slice:'6:' }}">
                {% endif %}
                <div class="d-flex justify-content-center align-items-center">
                    <!-- Team A -->
                    <div class="text-center">
                    <img src="{{ match.team_a_logo.url }}" alt="{{ match.team_a_display_name }}" class="img-fluid img-thumbnail mt-2 mb-1" style="width: 100px; height: 100px;" loading="lazy">
                    <p class="mb-2">{{ match.team_a_display_name }}</p>
                    </div>
                    <div class="text-center fw-bold mx-4 d-flex flex-column align-items-center">
                    {% if match.team_a_goals is not None and match.team_b_goals is not None %}
                        <span class="badge bg-success px-3 py-2">{{ match.team_a_goals }} <span class="vs-text mb-0"> - </span> {{ match.team_b_goals }}</span>
                    {% else %}
                        <span class="badge bg-danger px-3 py-2"> - </span>
                    {% endif %}
                    </div>
                    <!-- Team B -->
                    <div class="text-center">
                    <img src="{{ match.team_b_logo.url }}" alt="{{ match.team_b_display_name }}" class="img-fluid img-thumbnail mt-2 mb-1" style="width: 100px; height: 100px;" loading="lazy">
                    <p class="mb-2">{{ match.team_b_display_name }}</p>
                    </div>
                </div>
                {% if user.username == tour.created_by.username %}
                </a>
                {% endif %}
            </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    <div class="d-flex justify-content-center m-3">
        <a href="#section{{ forloop.counter }}" class="btn btn-primary" data-target="#section{{ forloop.counter }}" aria-controls="section{{ forloop.counter }}" onclick="captureSection('#section{{ forloop.counter }}')">Save</a>
    </div>
    </div>
    {% endfor %}
</div>
<!-- Include html2canvas library -->
