{% extends "base.html" %}
{% block title %}
Tournaments
{% endblock title %}
{% block content %}
<style>
#statsTab {
  border-bottom: none; 
  background-color: transparent;
}

#statsTab .nav-link {
  border: 1px solid #bac7be;      
  border-radius: 25px;             
  padding: 8px 30px;
  margin: 0 8px;
  color: #495049 !important;        
  font-weight: 700;
  background-color: #f5f7f3;       
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

#statsTab .nav-link.active {
  background-color: #959f98;        
  color: #fff !important;          
  box-shadow: 0 2px 8px rgba(149, 159, 152, 0.6); 
  border-color: #959f98;
}

#statsTab .nav-link:hover:not(.active) {
  background-color: #d7dfd9;        
  color: #333 !important;
  cursor: pointer;
}

</style>

{% if tour.tour_type == 'cup' %}
{% include "tournaments/cup.html" %}
{% elif  tour.tour_type == 'league'%}
{% include "tournaments/league.html" %}
{% elif  tour.tour_type == 'groups_knockout'%}
{% include "tournaments/groups_knockout.html" %}
{% endif %}

{% endblock content %}
