{% extends 'base.html' %}
{% block title %}Register{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .form-control[type="number"] {
        -webkit-appearance: none;
        -moz-appearance: textfield;
        text-align: center;
        font-size: 1.2rem;
        width: 80px;
    }
    
    .form-group label {
        font-weight: bold;
        color: #007bff;
    }
    
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }
    
</style>

 <form method="POST">
    {% csrf_token %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="text-center mx-4">
            {% for player_a, player_b in paired_players %}
                <div class="form-group">
                    <label>Match: {{ player_a.user.username }} vs {{ player_b.user.username }}</label>
                    <div class="d-flex justify-content-between">
                        <input type="number" name="score_a_{{ forloop.counter }}" class="form-control w-45" placeholder="Goals ({{ player_a.user.username }})" required>
                        <input type="number" name="score_b_{{ forloop.counter }}" class="form-control w-45" placeholder="Goals ({{ player_b.user.username }})" required>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </div>
    <button type="submit" class="btn btn-success mt-4 w-100">Submit</button>
</form>

{% endblock %}
