{% extends 'base.html' %}
{% block title %}Register{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    .form-control[type="number"] {
        -webkit-appearance: none;
        -moz-appearance: textfield;
        text-align: center;
        font-size: 1.2rem;
        width: 80px;
    }
    
    .form-group label {
        font-weight: bold;
        color: #007bff;
    }
    
    . {
        background-color: #007bff;
        border-color: #007bff;
    }
    
</style>
<form method="POST">
    {% csrf_token %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="text-center mx-4">
            <p>Home</p>
            <div class="form-group">
                {{ form.team_a_goals }}
            </div>
        </div>
        <div class="text-center mx-4">
            <p>Away</p>
            <div class="form-group ">
                {{ form.team_b_goals }}
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success  mt-4 w-100">Submit</button>
</form>

{% endblock %}
